<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TimeoutInSec" value="1"/>
    <add key="BaseUrl" value="http://www.lukoil.ru/PressCenter/Pressreleases"/>
    <!--<add key="MonthOfPressReleaseWithImage" value="0-2017-12"/>
    <add key="NumberOfPressRealeseInMonth" value="2"/>-->
    <add key ="CountOfPressReleases" value="10"/>
    <add key ="CountOfClickMoreLoad" value="2"/>
  </appSettings>
</configuration>