<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Browser is supported: Firefox, Chrome-->
    <add key="Browser" value="Chrome" />
    <add key="TimeoutInSec" value="1" />
    <add key="StartUrl" value="http://www.lukoil.ru" />
    <add key="URLOfPressReleases" value="http://www.lukoil.ru/PressCenter/Pressreleases" />
    <add key="URLToPageofPressRelease" value="http://www.lukoil.ru/{0}/PressCenter/Pressreleases/Pressrelease?rid=" />
    <!--Title of point of menu for page with list of press-releases-->
    <add key="menuPressReleasesByRus" value="Пресс-релизы" />
    <add key="menuPressReleasesByEng" value="Press releases" />
    <add key="DefaultCountOfPressReleases" value="10" />
    <add key="CountOfClickMoreLoad" value="5" />
    <!--Format of date depends from domain. Format for RU is dd.mm.yyy, for COM is mm/dd/yyyy-->
    <add key="DateFrom" value="01.12.2017" />
    <add key="DateTo" value="31.12.2017" />
    <!--Select mod of work WebDriver: true is to work through selenium grid, otherwise false is single webdriver on localhost-->
    <add key="IsSeleniumGrid" value="false" />
    <!--Command to launch the hub-->
    <!--java -jar <file of selenium grid for hub>.jar -role hub-->
    <!--Command to launch a node-->
    <!--java -jar <file of selenium grid for node>.jar -role webdriver -hub <value of key="URLToHubOfSeleniumGrid"> -port 5566-->
    <!--Base URL for hub of Selenium Grid-->
    <add key="URLToHubOfSeleniumGrid" value="http://localhost:4444/wd/hub" />
    <!--Section to javascript execution-->
    <add key="ColorForElement" value="blue" />
    <!--To logger-->
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="FolderToLog" value="logs" />
    <add key="FileToLog" value="log" />
    <!--To report-->
    <add key="FolderToScreenshot" value="screenshot" />
    <add key="FolderToReport" value="reports" />
    <add key="FileToReport" value="report" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Literate" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Handlebars" publicKeyToken="22225d0bf33cd661" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>