<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Handlebars.Net" version="1.9.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.10.1" targetFramework="net452" />
  <package id="NUnit.Console" version="3.8.0" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.19.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.11.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.11.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.36.0" targetFramework="net452" />
  <package id="Serilog" version="2.6.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="3.0.0" targetFramework="net452" />
</packages>